body{
  margin: 0px;
  background-color: rgb(248, 248, 248);
}

#coverCanvas{
  /* border: 1px solid lightblue; */
  background: url(../image/cover.jpg);
  background-attachment: fixed;
  background-size: cover;
  /* width: 100%; */
}
#navigation{
  visibility: hidden;
}
.cover{
  position: relative;
  margin-bottom: -5px;
  margin-right: 0px;
  padding-right: 0px;
}
.canvasDiv{
  width: 100%;
  margin-bottom: -5px;
}
.in{
  visibility: visible;
}
.out{
  visibility: hidden;
  display: none;
}
.cover-shadow{
  bottom: 0;
  right: -17px;
  position: absolute;
  width: 100%;
  height: 100px;
  border-top: 200px solid transparent;
  border-right: 800px solid rgba(255, 255, 26, .4);
  border-left: 960px solid white;
}

.dashbord{
  top: 100px;
  left: 0;
  position: absolute;
  color: black;
  background-color: transparent;
}
.ourTag{
  color: rgb(248, 248, 248);
  margin-top: 20%;
}
.wedo{
  color: rgb(248, 248, 248);
  border-bottom: 2px solid lightblue;
}
.txt-rotate{
  color: yellow;
}
.about{
  width: 100%;
  background-color: white;
  padding-top: 60px;
}
.about-textContents{
  border-left: 5px solid gray;
  padding-right: 10px;
}
.motive{
  width:100%;
  border-left: 10px solid yellow;
  border-right: 10px solid yellow;
  padding: 0px 2px 0px 2px;
  background: lightgray;
}
.about img{
  width: 70%;
  margin-top: 10px;
  border: 3px solid transparent;
  border-radius: 5%;
  padding: 4px;
}
.about-shape{
  /* width: 100%; */
  height: 100px;
  border-top: 200px solid white;
  border-right: 760px solid rgb(248, 248, 248);
  border-left: 760px solid rgb(248, 248, 248);
}
.titleDiv{
  position: relative;
  width: auto;
}
#index{
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 26, .8);
  font-size: 70px;
  margin-left: 10px;
}
.title{
  color: #8E7D03;
  position: absolute;
  left: 0;
  top: 0;
}
.title span{
  border-bottom: 3px solid yellow;
  font-size: 40px;
}
.titleDiv p{
  margin: 0;
  padding:0;
}
.work{
  background: rgb(248, 248, 248);
  padding-bottom: 10px;
  margin-bottom: 10px;
  padding-top: 60px;
  /* padding-right: 10px; */
}
.our-popule{
  padding-top: 60px;
}
.work-detail{
  position: absolute;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 0%;
  top: 10px;
  left: 10%;
  width: 80%;
  color: white;
  background: rgba(1, 1, 63, .5);
}
.thumbnail img{
  width: 100%;
  border: 1px solid transparent;
  border-radius: 100%;
  text-align: center;
}
.thumbnail p{
  text-align: center;
  padding: 0;
  margin: 0;
}
.icon-style{
  color: yellow;;
}
.thumbnail{
  border-left:2px solid yellow;
  border-right:2px solid yellow;
  padding: 5px;
  padding-left: 5%;
  margin: 5px;

}
i{
  font-size: 50px;
}



.nav-link-hov1:hover {
	border-bottom: 2px solid red;
}
.nav-link-hov2:hover {
	border-bottom: 2px solid blue;
}

/* media responsive query */
@media only screen and (max-width: 450px) {
  .wedo{
    margin-left: 5px;
    /* font-size: 15px; */
  }
  .dashbord{
    margin-left: 5px;
  }
  .cover-shadow{
    /* border-top: 500px solid transparent;
    border-right: 100px solid rgba(255, 255, 26, .4); */
    display: none;
  }
  .about-shape{
    display: none;
  }
  .about img{
    display: none;
  }
}
@media only screen and (max-width: 377px) {
  .wedo{
    margin-left: 5px;
    /* font-size: 8px; */
  }
  .dashbord{
    margin-left: 5px;
  }
  .cover-shadow{
    display: none;
  }
  .about-shape{
    display: none;
  }
  .about img{
    display: none;
  }
}
.address{
  margin-left: 5px;
  margin-right: 5px;
}
.email{
  margin-left: 5px;
  margin-right: 5px;
}
@media only screen and (max-width: 350px) {
  .wedo{
    margin-left: 5px;
    /* font-size: 8px; */
  }
  .dashbord{
    margin-left: 5px;
  }
  .cover-shadow{
    /* border-top: 200px solid transparent;
    border-right: 300px solid rgba(255, 255, 26, .4); */
    display: none;
  }
  .about-shape{
    display: none;
  }
  .about img{
    display: none;
  }
}
.address{
  margin-left: 5px;
  margin-right: 5px;
}
.email{
  margin-left: 5px;
  margin-right: 5px;
}

@media only screen and (max-width: 781px) {
  .wedo{
    margin-left: 5px;
    /* font-size: 20px; */
  }
  .dashbord{
    margin-left: 5px;
  }
  .cover-shadow{
    right: 0px;
    border-top: 300px solid transparent;
    border-right: 500px solid rgba(255, 255, 26, .4);
  }
  .about-shape{
    border-right: 350px solid rgb(248, 248, 248);
    border-left: 350px solid rgb(248, 248, 248);
    /* display: none; */
  }
}
@media only screen and (max-width: 1080px) {
  .wedo{
    margin-left: 5px;
    /* font-size: 20px; */
  }
  .dashbord{
    margin-left: 5px;
  }
  .cover-shadow{
    right: 0;
    border-top: 300px solid transparent;
    border-right: 500px solid rgba(255, 255, 26, .4);
  }
  .about-shape{
    border-right: 760px solid rgb(248, 248, 248);
    border-left: 760px solid rgb(248, 248, 248);
  }
}
